<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  
  <appSettings>

    <add key="MASTER_DB_CON" value="server=127.0.0.1; uid=hiq_admin_game; port=3306; pwd=hiq_admin_game_123!@#; database=hiqgamedb; MinimumPoolSize=10; Maximumpoolsize=50; convert zero datetime=True; CheckParameters=False;  allow user variables=true;" />
   
    <add key="REDIS_DB_CON" value="127.0.0.1:6379,allowAdmin=true,ssl=false,connectTimeout=5000" />
    <add key="REDIS_DB_IP" value="127.0.0.1" />
    <add key="REDIS_DB_PORT" value="6379" />


    <add key="LOG4_LOG_DEFAULT"  value="default" />
    <add key="LOG4_LOG_INPUT"    value="input" />
    <add key="LOG4_LOG_OUTPUT"   value="output" />
    <add key="LOG4_LOG_ERROR"    value="error" />

    <add key="LOG4_ABLE_DEFAULT" value="1" />
    <add key="LOG4_ABLE_INPUT"   value="1" />
    <add key="LOG4_ABLE_OUTPUT"  value="1" />
    <add key="LOG4_ABLE_ERROR"   value="1" />

    
    <add key="SERVER_RESTART_BATCH"  value="Start_Match_Server_Bat.bat" />
 

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  
  
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>